<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ff.burning.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="cn.ff.burning.entity.SysMenu">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="menu_name" property="menuName" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="visible" property="visible" jdbcType="VARCHAR"/>
        <result column="order_num" property="orderNum" jdbcType="INTEGER"/>
        <result column="perms" property="perms" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, type, menu_name, parent_id, level, url, visible, order_num, perms, icon, create_by,
        create_time
    </sql>

    <update id="updateByPrimaryKey" parameterType="cn.ff.burning.entity.SysMenu">
        update sys_menu
        set type        = #{type,jdbcType=VARCHAR},
            menu_name   = #{menuName,jdbcType=VARCHAR},
            parent_id   = #{parentId,jdbcType=VARCHAR},
            level       = #{level,jdbcType=INTEGER},
            url         = #{url,jdbcType=VARCHAR},
            visible     = #{visible,jdbcType=VARCHAR},
            order_num   = #{orderNum,jdbcType=INTEGER},
            perms       = #{perms,jdbcType=VARCHAR},
            icon        = #{icon,jdbcType=VARCHAR},
            create_by   = #{createBy,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="getAllAuthority" resultType="cn.ff.burning.entity.BaseKv">
        select m.url as `key`, r.code as value
        from sys_menu m
                 left join sys_role_menu rm on m.id = rm.menu_id
                 left join sys_role r on rm.role_id = r.id
        where m.url is not null
          and m.url != ''

    </select>

    <select id="getUrlAndRole" resultType="cn.ff.burning.entity.SysMenu">
        select
            m.url, GROUP_CONCAT(r.code SEPARATOR ',') as ofRoles
        from
            sys_menu m
        left join sys_role_menu rm on m.id = rm.menu_id
        left join sys_role r on rm.role_id = r.id
        where m.visible = '0'
        GROUP BY m.url

    </select>


    <select id="selectMenusByUserId" resultType="cn.ff.burning.entity.SysMenu">
        select distinct m.* from sys_menu m
        left join sys_role_menu rm on m.id = rm.menu_id
        left join sys_role r on r.id = rm.role_id
        left join sys_user_role ur on rm.role_id = ur.role_id
        where ur.user_id = #{userId} and m.visible = '0' and m.type in ('M', 'C')
        order by m.order_num
    </select>
    <select id="selectMenuNormalAll" resultType="cn.ff.burning.entity.SysMenu">
        select distinct m.*, m.menu_name as "meta.title", m.icon as "meta.icon" from sys_menu m
        where m.visible = '0' and m.type in ('M', 'C')
        order by m.order_num
    </select>


</mapper>